<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Student Form</title>
  </head>
  <body>
    <h1>Student Form</h1>
    <form
      action="#"
      th:action="@{/student/save}"
      th:object="${student}"
      method="post"
    >
      <input type="hidden" th:field="*{studentId}" />
      <p>First Name: <input type="text" th:field="*{firstName}" /></p>
      <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
      <p>Course: <input type="text" th:field="*{course}" /></p>
      <p>Country: <input type="text" th:field="*{country}" /></p>
      <p><input type="submit" value="Save" /></p>
    </form>
    <a th:href="@{/student/list}">Back to Student List</a>
  </body>
</html>
